<%= form_with model: [:store, product], class: "form-grid" do |form| %>
    <% if form.object.errors.any? %>
        <div class="danger-zone">
            <p class="error"><%= pluralize(form.object.errors.count, "error") %> prohibited this product from being saved:</p>
            <ul>
                <% form.object.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field-row">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field-row">
        <%= form.label :inventory_count %>
        <%= form.number_field :inventory_count, min: 0 %>
    </div>

    <div class="field-row">
        <%= form.label :description %>
        <%= form.rich_text_area :description %>
    </div>

    <div class="field-row">
        <%= form.label :featured_image %>
        <%= form.file_field :featured_image, accept: "image/*" %>
    </div>

    <div class="form-actions">
        <%= form.submit class: "button primary-button" %>
    </div>
<% end %>